<div class="container text-center py-5 my-3" id="beneficios">
    <h2 class="libertad-bold"> ¿CUÁLES SON LOS BENEFICIOS DE CONTAR CON</h2>
    <h2 class="libertad-bold">BENNU ENERGY COMO SUMINISTRADORA</h2>
    <h2 class="libertad-bold"> DE SERVICIOS CALIFICADOS?</h2>
    <div class="row justify-content-center my-5 zoomneg">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <img src="{{ site.baseurl }}/assets/img/benefits.png" class="img-fluid zoomneg" >
        </div>
    </div>
</div>