<div class="container text-center my-5" id="estrategia">
    {{site.data.estrategia.titulo}}
        <div class="row py-5 color-be-grey fs-4">
            <p>{{site.data.estrategia.parrafo}}</p>
        </div>
        <div class="">
            <table class="bsolid" >
                <tr>
                    <td align="center">
            <div class=" scroll-content fadeTop ">
                <img src="{{ site.baseurl }}/assets/img/strategy.png" class=" img-fluid">
            </div>
        </td>
        </tr>
        </table>
        </div>
</div>