<div class="container text-center my-5" id="estrategia" heig="10%">
    <h2 class="libertad-bold">ESTRATEGIA DE DIVERSIFICACIÓN <br/>
        DE FUENTES DE ENERGÍA </h2>
        <div class="row py-5 color-be-grey fs-4">
            <p><b>Bennu Energy</b> considera su principal estrategia para el <br/>
            abastecimiento de energía eléctrica y productos asociados a partir <br/>
            de una canasta de fuentes de energía confiable.</p>
        </div>
        <div class="">
            <table class="bsolid" >
                <tr>
                    <td align="center">
            <div class=" scroll-content fadeTop ">
                <img src="img\strategy.png" class=" img-fluid">
            </div>
        </td>
        </tr>
        </table>
        </div>
</div>