<div class="container mb-5 pb-5">
    <h2 class="libertad-bold text-center">PREGUNTAS FRECUENTES</h2> 
    <p class="color-be-grey fs-4 text-center">{{site.data.faq.parrafo}} </p>
    <div class="row px-3">
        {% for elemento in {{site.data.faq.lista}} %}
            <div class="col-sm-12 col-md-6">
                <p class="libertad-extra-bold color-be-blue fs-4">{{ elemento.pregunta }}<p>
                <p class="libertad-thin fs-4">{{ elemento.respuesta }}</p>
            </div>
        {% endfor %}        
    </div>
</div>