<div id="openModal1" class="modalDialog">
    <div>
    <h3><center>TERMINOS Y CONDICIONES</center></h3>
    {{site.data.modals.terminos_condiciones}}
    </div>
    <a href="#close" title="Close" class="close">X</a>
</div>
<div id="openModal2" class="modalDialog">
    <div>
    <h3><center>PREGUNTAS FRECUENTES</center></h3>
        {{site.data.modals.preguntas_frecuentes}}
    </div>
    <a href="#close" title="Close" class="close">X</a>
</div>
<div id="openModal" class="modalDialog">
    <div class="margenesi">
        {{site.data.modals.politicas_privacidad}}
        <a href="#close" title="Close" class="close">X</a>
    </div>
</div>