<div class="container " id="somos" class="content">
    <table class="bsolid">
        <tr>
            <td class="atd bsolid scroll-content fadeLeft" width="50%">  
            <img src="{{ site.baseurl }}/assets/img/quienes-somos.jpg" alt="" class="img-fluid">
            </td> 
            <td class="atd bsolid color-be-grey fsr scroll-content fadeRight" width="50%">
            <p>
                {{site.data.somos.parrafo}}
            </p> 
            </td>
        </tr>
    </table>
</div>