<div id="carouselTop" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      </div>
    <div class="carousel-inner text-white">
        <div class="carousel-item active">
            <img src="{{ site.baseurl }}/assets/img/first-slide.jpg" class=" d-block w-100" alt="..." role="img">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-center">
                    <div class="display-3">
                        {{site.data.top-carousel.parrafo}}
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>